@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #3debcb;
    --secondary: #dbfff6;
    --accent: #88f3f7;
  }
  .dark {
    --text: #eae9fc;
    --background: #010104;
    --primary: #14c2a2;
    --secondary: #00241b;
    --accent: #087477;
  }
}

a{
  text-decoration: none;
  color:var(--text)
}